#topBar {
    display: flex;
    flex-direction: row;
}

#psychicContainer {
    display: flex;
    flex-direction: row;
}

#psychicContainer > .psychic-button {
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    color: gray;
    background-color: lightgray;
    margin-right: 5px;
    box-shadow: -2px -2px 5px rgb(146, 139, 139) inset, 2px 2px 5px white inset;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center center;
}

#psychicContainer > .psychic-button.selected-psychic {
    border: 3px solid black;
    color: black;
    background-color: green;
    box-shadow: 3px 3px 5px #555 inset;
}

#psychicContainer > .psychic-button.pre-vision {
    background-image: url("../Images/ClosedEye.png");
}

#psychicContainer > .psychic-button.post-vision {
    background-image: url("../Images/OpenedEye.png");
}

#psychicContainer > .psychic-button.post-answer {
    background-image: url("../Images/Checkmark.png");
}

#rerolls {
    float: right;
    border: 1px solid black;
    background-color: white;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

#previewButton {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-right: 5px;
}

#middleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 420px;
}

#choiceDisplay:empty, #choiceDisplay > div, #visionCardDisplay {
    border: 3px solid black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
}

#choiceDisplay:empty, #choiceDisplay > div {
    width: 500px;
    margin-right: 5px;
}

#visionCardDisplay {
    width: 300px;
}

#visionCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;

    width: 350px;
    height: 100%;
}

#visionCards.psychic-vision-cards {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#visionCards .vision-card {
    margin: 3px;
    width: 100px;
    height: 125px;
    border: 2px solid black;
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#visionCards > .vision-card-attempt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

#visionCards .vision-card.selected-for-sending::after {
    content: "✓";
    color: lime;
    padding-left: 10px;
    font-size: 20pt;
    font-weight: bold;
    filter: drop-shadow(2px 2px 0 black)  drop-shadow(-2px -2px 0 black);
}

#visionCards .vision-card.selected-for-reroll::after {
    content: "✓";
    color: cyan;
    float: right;
    padding-right: 10px;
    font-size: 20pt;
    font-weight: bold;
    filter: drop-shadow(2px 2px 0 black)  drop-shadow(-2px -2px 0 black);
}

#sendVisionCardsButton, #sendChoiceButton {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-left: 5px;
}

#sendVisionCardsButton:hover, #sendChoiceButton:hover {
    color: green;
}

#sendVisionCardsButton.disabled-send-button,  #sendChoiceButton.disabled-send-button {
    background-color: lightgray;
    color: white;
    opacity: 0.8;
}

#choices {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#choices > .choice {
    margin: 3px;
    width: 220px;
    height: 176px;
    border: 5px solid black;
    flex-shrink: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#choices > .choice.choice-selected {
    border-color: lime;
}

#choices > .choice.choice-answer::after {
    content: "✓";
    color: lime;
    padding-left: 10px;
    font-size: 35pt;
    font-weight: bold;
    filter: drop-shadow(2px 2px 0 black)  drop-shadow(-2px -2px 0 black);
}

#choices > .choice.already-chosen:not(.choice-selected) {
    filter: grayscale(1);
    opacity: 0.6;
}