.hidden {
    visibility: hidden !important;
}

.nodisp {
    display: none !important;
}

.error {
    color: red;
    font-weight: bold;
}

#gameActiveHeader {
    display: flex;
    flex-direction: row;
}

#gameActiveHeader div {
    padding-right: 10px;
}

.flex-spacer {
    flex-grow: 1;
}